{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}



<h1>{{ title }}</h1>

<br>

<form method="post" action="/product/products">
    <div class="form-group">
        <label for="name" class="col-sm-2 col-form-label">Name Product </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="name" placeholder="Rinso, Beras, dll...." required>
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="col-sm-2 col-form-label">Type Product</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="type_product" placeholder="Obat, Makanan, Pembersih, dll...."
                required>
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="description" placeholder="Description Product" required>
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="col-sm-2 col-form-label">Stock</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="stock" placeholder="60" required>
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="price" placeholder="Rp. 9000,00" required>
        </div>
    </div>
    <button type="submit" class="btn btn-info">Save</button>
</form>


<hr><br>

<h2>All Data Produck</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>No.</th>
            <th>Name Product</th>
            <th>Type Product</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Price</th>
            <th colspan="2">Navigasi</th>
        </tr>
    </thead>
    <tbody>
        <script>
            var a = 1;
        </script>
        {% for product in products %}
        <tr>
            <td>
                <script>
                    document.write(a);
                </script>
            </td>
            <td>
                <a href="detail_data_product/{{product.id}}">{{product.name}}</a>
            </td>
            <td>{{product.type_product}}</td>
            <td>{{product.description}}</td>
            <td>{{product.stock}}</td>
            <td>{{product.price}}</td>
            <td><a href="get_data_product/{{product.id}}" class="btn btn-primary">Update</a>

            </td>
            <td>
                <a href="delete_data_product/{{product.id}}" class="btn btn-danger"
                    onclick="return confirm('Are you sure want delete?')">Delete</a>
            </td>
            <script>
                a++;
            </script>
        </tr>
        {% endfor %}

    </tbody>

</table>

{% endblock %}